@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;                                
}

body {
    background-image: url('.img/annie-spratt-0ZPSX_mQ3xI-unsplash.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Keeps it fixed when scrolling */
    color: #fff8f8;
    font-family: "Quicksand", sans-serif;
    }

    .contenedor {
        max-width: 1000px;
        margin: auto;
        display: grid;
        gap: 20px 0px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "nav nav nav"
        "contenido contenido sidebar"
        "bloque1 bloque1 bloque2 "
        "footer footer footer";
     }

    ul{
        list-style: none;
    }

    button {
        cursor: pointer;
        border: none;
        background: none;
    }

    nav {
        width: 100%;
        grid-area: nav;
        background-color: rgb(116, 176, 182);
        color: #fff8f8;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .nav-menu {
        width: 100%;

        color: #fff8f8;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-end; 
        gap: 20px;
        align-items: left;        
        
    }

    .nav-logo {
        color: #fff8f8; 
        text-decoration: none;
        /*display:flex;
        justify-content: left;
        align-items: center; */
        padding: 10px;
    }
    .nav-logo .logo-text1 {
        font-family: "Quicksand",sans-serif;
        font-size: xx-large;   
    } 
    .nav-logo .logo-text2 {
        font-family: "Quicksand",sans-serif;
        font-size: small; } 


    .navbar .nav-menu li a { 
        color: #fff8f8 !important;
        text-decoration: none;
        display: flex;
        justify-content: right;
        align-items: center; 
    }


    .contenido {
        background: #f3c0c05b;
        color: rgb(22, 22, 36);
        padding: 20px;
        border-radius: 5px;
        grid-area: contenido;
    }
    .sidebar {
        width: 100%;
        grid-area: sidebar;
        background: #67db9d18;
        color: rgb(22, 22, 36);
        display: flex;
        flex-direction: column;
        justify-content: top; 
        align-items: center; 
        padding: 20px;
        border-radius: 5px; 
      }


